.DS_Store
.idea
log/logFile.log
ini.yml
Stylesheet/style.css
Stylesheet/style.css.map
JS/main.min.js
API/vendor/league/oauth2-client

API/vendor/league/oauth2-google

API/vendor/paragonie/random_compat

API/vendor/phpmailer/phpmailer
