$gutter-width: 1.5rem;
$col-nb: 12;
$sm-breakpoint: 540px;
$md-breakpoint: 720px;
$lg-breakpoint: 960px;

$conterner-width: 1280px;

$dashboard-header-height: 50px;
$dashboard-nav-width-column: 210px;

$nav-max-height: 60px;