@use "../Abstracts" as *;

.userSetting {
  margin: 30px;
  padding: 20px;
  background-color: #c6cbd5;
  border-radius: 10px;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;

  h1 {
    color: #2a2a2a;
    text-align: left;
    font-family: "Jaldi", sans-serif;
    font-weight: bold;
    margin-left: 15px;
  }

  .content {
    display: flex;
    justify-content: space-evenly;
  }

  .avatarParam {
    width: 250px;
  }

  .user {
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background: #dcdcdc;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #a7a7a7;
  }

  .user:hover {
    background-color: #2f2d2d;
    cursor: pointer;
  }

  i {
    font-size: 5rem;
  }

  .formSetting {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin-left: 50px;
    justify-content: left;
    padding: 0;
    background: none;
    border-radius: 0;

    .field {
      margin: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      flex-direction: row;

      label {
        font-family: "Jaldi", sans-serif;
        font-size: 1.1rem;
        color: #0c0c0c;
        font-weight: normal;
      }

      input {
        width: 50%;
        padding: 10px;
        color: #0c0c0c;
        background: $white;
        border: 1px solid black;
      }
    }

    .btn {
      margin-top: 80px;
      width: 240px;
    }

  }
}

