@use "../Abstracts" as *;

.avatar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $white;

    & > span
    {
        padding: 0 10px;
    }

    & > #avatar-container
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: solid 2px $white;
        border-radius: 50%;
        overflow: hidden;

        & > img
        {
            max-width: 30px;
            max-height: 30px;
        }
    }
}