@use "../Abstracts" as *;

.dashboard
{
    width: 100%;
    box-sizing: border-box;
    background: $light-grey;

    & > header
    {
        position: sticky;
        top: 0;
        left: $dashboard-nav-width-column;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        height: $dashboard-header-height;
        margin-bottom: 20px;
        padding: 0 20px;
        background: $dark-blue;
    }
}
