@use "../Abstracts" as *;

.forum {
  margin: 2% 4%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Jaldi", sans-serif;

  & .forumHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 92.1vw;

	& > div {
	  display: flex;
	  justify-content: flex-start;
	  align-items: center;

	  & > h1 {
		color: $white;
		width: 35em;
	  }

	  & > h2 {
		margin: 0 1em 0 0;
	  }
	}

	& > h2 {
	  margin: 0 1em 0 1em;
	}
  }

  & .forumDescription {
	width: 90.3vw;
	border: solid $dark-blue;
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 15px 15px;
	padding: 1em;
  }

}

.allMessage {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  margin: 1% 4%;
  font-family: "Jaldi", sans-serif;

  & p {
	margin: 0;
  }

  & .containerMessage {
	display: flex;
	justify-content: space-between;
	align-items: center;
	//flex-direction: column;

	& > svg {
	  margin: 0 0 0 2vw;
	}
  }

  & svg {
	display: flex;
	width: 40px;
	height: 40px;
  }

  & .message {
	position: relative;
	margin: 1em 0;
	padding: 1em;
	border-radius: 15px;
	border: 1px solid $dark-blue;
	width: 90vw;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	& .messageParent{
	  display: flex;
	  width: 100%;

	  & svg {
		position: absolute;
		top: 0;
		right: 0;
		color: red;
	  }

	  & > .headerMessage {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-right: 2vw;
		border-right: 1px solid $dark-blue;
		//width: 100%;

		& > div {
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  width: 100%;
		}

		& > .userMessage {
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  min-width: 12em;
		}
	  }

	  & > .messageContent{
		margin-left: 2vw;
	  }
	}
  }

  & .answerMessage {
	margin: 0 0 1em 3em;
	width: 83.5vw;
  }

  & .divInsertAnswer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	width: 100%;

	& > hr{
	  width: 80%;
	  margin: 1em 0;
	}

	& form {
	  width: 100%;

	  & > input[type=text] {
		float: left;
		width: 79%;
		min-height: 2em;
	  }

	  & > button {
		float: right;
		width: 20%;
		min-height: 2em;
	  }
	}
  }
}

.hidden {
  display: none!important;
}

.pointer {
  cursor: pointer;
}

#containerForumFront > .button{
  font-family: "Jaldi", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}