@use "../Abstracts" as *;

.forum {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: "Jaldi", sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 2% 4%;


  & .forumHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	& > div {
	  display: flex;
	  justify-content: flex-start;
	  align-items: center;

	  & > h1 {
		color: $white;
		width: 65vw;
	  }

	  & > h2 {
		margin: 0 1em 0 0;
	  }
	}

	& > h2 {
	  margin: 0 1em 0 1em;
	}
  }

  & .forumDescription {
	width: 100%;
	box-sizing: border-box;
	border: solid $dark-blue;
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 15px 15px;
	padding: 1em;
  }

}

.allMessage {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  padding: 1% 4%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Jaldi", sans-serif;

  & p {
	margin: 0;
  }

  & .containerMessage {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	& > svg {
	  margin: 0 0 0 2vw;
	}
  }

  & svg {
	display: flex;
	width: 40px;
	height: 40px;
  }

  & .message {
	position: relative;
	margin: 1em 0;
	padding: 1em;
	border-radius: 15px;
	width: 100%;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	& .messageParent {
	  display: flex;
	  width: 100%;

	  & svg {
		position: absolute;
		top: 0;
		right: 0;
		color: red;
	  }

	  & .warning {
		position: absolute;
		bottom: 5px;
		right: 5px;
		width: 28px;
		height: 28px;
	  }

	  & > .headerMessage {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-right: 2vw;
		border-right: 1px solid $dark-blue;
		//width: 100%;

		& > div {
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  width: 100%;
		}

		& > .userMessage {
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  min-width: 12em;
		}
	  }

	  & > .messageContent {
		margin-left: 2vw;
	  }
	}
  }

  & .answerMessage {
	margin: 0.5em 0 0.5em 3em;
	width: 100%;
  }

  & .divInsertAnswer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	width: 100%;

	& > hr {
	  width: 90%;
	  margin: 1em 0;
	}

	& form {
	  width: 100%;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;

	  & > input[type=text] {
		width: 79%;
		height: 3em;
	  }

	  & > button {
		width: 20%;
		height: 3em;
	  }
	}
  }
}

.hidden {
  display: none !important;
}

#containerForumFront > .button {
  font-family: "Jaldi", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}