@use "../Abstracts" as *;

#alert
{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    & > .alert {
        padding: 10px 80px;
        border-radius: 5px;
        color: white;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: $jaldi;
        transition: .3s;

        &:hover
        {
            transform: scale(1.05);
            transition: .3s;
        }

        &-success {
            background-color: #46A150;
        }

        &-error {
            background-color: #AD4E47;
        }

        &-warning {
            background-color: #e0c335;
        }
    }
}
