@use "../Abstracts" as *;

.banner
{
    display: block;
    width: 100%;
    height: 500px;
    overflow: hidden;

    & > img
    {
        @include bg-cover();
    }
}

.imgBannerForum[type="Correction"]{
    color: $white;
    //background-image: url('/SASS/asset/img/bannerImg1.jpg');
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, var(--forum-color) 100%);
    position: relative;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.imgBannerForum[type="Version"]{
    color: $white;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, var(--forum-color) 100%);
    position: relative;
    z-index: 1;
    border-radius: 10px 10px 0 0;
}
.imgBannerForum[type="Notre jeu"]{
    color: $white;
    background-color: #0060de;
    background-image: linear-gradient(90deg, #0060de 0%, var(--forum-color) 100%);
    position: relative;
    z-index: 1;
    border-radius: 10px 10px 0 0;
}

.imgBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-image: var(--url-banner-image);
    position: relative;
    z-index: 1;
    @include bg-cover();

    & > h1{
        color: #fff;
        font-size: 4em;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-shadow: 2px 0 0 $black, -2px 0 0 $black, 0 2px 0 $black, 0 -2px 0 $black, 1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black;

    }
}