@use "../Abstracts" as *;

.vote {
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 100%;
	box-sizing: border-box;
	padding: 2%;

	font-family: "Futura", sans-serif;

	& > .small {
		width: 40%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column;
		row-gap: 2vw;

		& .rate {
			display: flex;
			justify-content: space-around;
			align-items: flex-start;
			flex-direction: column;

			box-sizing: border-box;
			padding: 0;
			font-size: 1.5vw;
			height: 8vw;

			& input {
				width: 100%;
			}

			& .stars {
				left: 50%;
				transform: translate(60%, -50%);
			}

			& .fa-star:hover{
				cursor: pointer;
			}
		}

	}

	& > .medium {
		width: 60%;
		display: flex;
		flex-direction: column;
		gap: 2vw;

		& > div {
			display: flex;
			justify-content: space-around;
			align-items: center;
		}

		& .cardRating {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: column;

			width: 15vw;
			padding: 2%;
			box-sizing: border-box;
			border-radius: 15px;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

			& > .cardHeader {
				display: flex;
				justify-content: space-around;
				align-items: center;
				gap: 1vw;

				box-sizing: border-box;
				padding: 2%;

				& .username {
					font-weight: bold;
				}
			}
		}
	}

	& .large {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		gap: 2vw;

		& .cardRating {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: column;

			width: 15vw;
			padding: 2%;
			box-sizing: border-box;
			border-radius: 15px;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

			& > .cardHeader {
				display: flex;
				justify-content: space-around;
				align-items: center;
				gap: 1vw;

				box-sizing: border-box;
				padding: 2%;

				& .username {
					font-weight: bold;
				}
			}

			& .cardRate{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 15vw;
				font-size: 1.5vw;
			}
		}
	}
}

.starChecked {
	//color: #ffc107;
	color: #6fc7ff;
}

.averageRate{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5vw;
	gap: 1vw;
}