.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: fit-content;
  padding: 5px 10px;

  background: $hard-blue;
  border-radius: 7px;
  text-decoration: none;
  color: $white;

  cursor: pointer;
  transition: .3s;

  &:hover {
	background: $white;
	color: $hard-blue;
  }

  &-add, &-edit {
	padding: 10px;
	background: $dark-blue;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: 1px;

	&:hover {
	  background: $light-blue;
	  color: $white;
	}
  }

  &-validate {
	padding: 10px;
	background: $dark-green;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: 1px;

	&:hover {
	  background: $light-green;
	  color: $white;
	}
  }

  &-delete {
	padding: 10px;
	background: $dark-orange;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: 1px;

	&:hover {
	  background: $light-orange;
	  color: $white;
	}
  }
}

.opened {
  text-decoration: underline !important;
}
