.btn
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: fit-content;
    padding: 5px 10px;

    background: $hard-blue;
    border-radius: 7px;
    text-decoration: none;
    color: $white;

    cursor: pointer;
    transition: .3s;

    &:hover
    {
        background: $white;
        color: $hard-blue;
    }
}
