.ctn {
  min-width: 800px;
  margin: 0 20px 20px 20px;
  padding: 10px;
  background: $white;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-family: "Jaldi", sans-serif;

  & > h1 {
	font-family: $jaldi;
	color: $black;
	font-weight: bold;
  }

  & > th {
	text-align: left;
	padding: 8px 10px !important;
  }

  &-delete {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	width: 100%;
	margin: 0.5% 0;
	padding: 0;
	box-sizing: border-box;
	box-shadow: none;

	&:focus {
	  outline: none;
	}
  }

  &-add {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0.5% 0;
	padding: 0;
	box-shadow: none;

	& > .searchBar {
	  width: 30%;
	  height: 20px;
	  border: solid 1px #000;
	  border-radius: 5px;
	  font-size: rem(12);
	  color: $grey;
	  font-weight: bold;

	  &:focus {
		outline: none;
	  }
	}
  }

  &-hover {
	position: absolute;
	top: 500px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	& ~ section:nth-child(4) {
	  margin-top: 300px;
	}
  }

  &-article {
	display: flex;
	flex-direction: row;
	padding: 0 20px;
	margin-bottom: 50px;
	color: $white;

	& > img {
	  padding: 0 10px;
	  max-width: 400px;
	  height: auto;
	}

	& > p {
	  font-family: $jaldi;
	  padding: 0 10px;
	}

	&-hover {
	  width: 30%;
	  max-height: 250px;
	  overflow: hidden;
	  padding: 15px;
	  border-radius: 0 70px 0 0;
	  background: $deep-ocean;

	  & > h1 {
		text-align: center;
	  }

	  & > .content {
		color: $white;
		font-family: $jaldi;

		& > img {
		  float: left;
		  margin-right: 10px;
		  width: 100px;
		  height: auto;
		}
	  }
	}
  }
}

#ctnUserForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: rgba(0, 0, 0, .6);
}

#ctnUserForm > form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ctnRoleForm
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: rgba(0, 0, 0, .6);
}

#ctnRoleForm > form
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ctnDonationTierForm
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: rgba(0, 0, 0, .6);
}

#ctnDonationTierForm > form
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#editorjs h1{
	color: $black;
}