.alert {
    padding: 10px 80px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;

    &-success {
        background-color: #46A150;
    }

    &-error {
        background-color: #AD4E47;
    }

    &-warning {
        background-color: yellow;
    }
}