@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400&display=swap");
.bg\:dark-blue {
  background-color: #272B40 !important;
}

.dark-blue {
  color: #3F445F;
}

body,
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #EDF0F2;
}
body-row,
.body-row {
  flex-direction: row;
}

.page {
  width: 100%;
  min-height: calc(100vh - 60px);
  background-color: #fff;
}

h1 {
  font-size: rem(24);
  margin: 0;
  color: white;
  font-weight: normal;
  font-family: "Jockey One", sans-serif;
}

h2 {
  font-size: rem(16);
}

#hide-icon,
#show-icon {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.flex,
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

flex-jc\:center {
  justify-content: center;
}

flex-ai\:center {
  align-items: center;
}

.form-partial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  padding: 40px 60px;
  background: #3F445F;
  border-radius: 12px;
  font-family: "Jaldi", sans-serif;
}
.form-partial > h1 {
  margin-bottom: 40px;
  font-family: "Jost", sans-serif;
  text-align: center;
  font-weight: 400;
}
.form-partial > .fieldRow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;
  width: 25vw;
}
.form-partial > .fieldRow > label {
  color: #fff;
}
.form-partial > .fieldRow > label:first-child {
  width: 100vw;
  color: #fff;
}
.form-partial > .fieldRow > input {
  width: 100%;
  margin: 10px 0;
  background: none;
  border: none;
  border-bottom: solid 1px #fff;
  color: #fff;
}
.form-partial > .fieldRow > input:focus {
  background: rgba(142, 153, 163, 0.19);
  outline: none;
}
.form-partial > .fieldRow > .hide {
  display: none;
}
.form-partial > .fieldHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.form-partial > .fieldHeader > label:first-child {
  width: 100%;
  color: #fff;
  font-weight: bold;
}
.form-partial > .fieldHeader > label:last-child {
  margin: 0 1.1vw;
}
.form-partial > .field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;
  width: 25vw;
}
.form-partial > .field > label {
  color: #fff;
  font-weight: bold;
}
.form-partial > .field > input {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: solid 1px #fff;
  color: #fff;
}
.form-partial > .field > input:focus {
  background: rgba(142, 153, 163, 0.19);
  outline: none;
}
.form-partial > .field > select {
  width: 50%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: solid 1px #fff;
  color: #fff;
}
.form-partial > .field > select > option {
  background-color: #6d769e;
  color: #fff;
}
.form-partial > .field > select:hover {
  cursor: pointer;
  outline: none;
}
.form-partial > .field > .right-ico {
  position: absolute;
  bottom: 0;
  left: 100%;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
.form-partial > .field > .hide {
  display: none;
}
.form-partial > .section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form-partial > .submit {
  margin-top: 40px;
  padding: 10px 0;
  background: none;
  border: solid 2px #fff;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.form-partial > .submit:hover {
  background: #fff;
  color: #3F445F;
  transition: 0.3s;
}

.page > div > span {
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#api-configuration > .ctn > form > h1 {
  color: #3F445F;
}
#api-configuration > .ctn > form > hr {
  margin-bottom: 20px;
  color: #3F445F;
}
#api-configuration > .ctn > form > .field {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
#api-configuration > .ctn > form > .field > label {
  color: #272B40;
  font-weight: bold;
}
#api-configuration > .ctn > form > .field > input {
  width: 100%;
  padding-bottom: 2px;
  box-sizing: border-box;
  border: none;
  border-bottom: solid 1px;
  color: #3F445F;
}
#api-configuration > .ctn > form > .field > input:focus {
  outline: none;
}
#api-configuration > .ctn > form > .field > .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
#api-configuration > .ctn > form > .field > .row > input {
  width: calc(100% - 40px);
  padding-bottom: 2px;
  box-sizing: border-box;
  border: none;
  border-bottom: solid 1px;
  color: #3F445F;
}
#api-configuration > .ctn > form > .field > .row > input:focus {
  outline: none;
}
#api-configuration > .ctn > form > .field > i {
  width: min-content;
}
#api-configuration > .ctn > form > .field > select {
  width: min-content;
}
#api-configuration > .ctn > form > .field-submit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#api-configuration > .ctn > form > .field-submit > button {
  margin-top: 40px;
}

#ctnForumForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: rgba(0, 0, 0, 0.6);
}

#ctnForumForm > form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ctnForumFrontForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: rgba(0, 0, 0, 0.6);
}

#ctnForumFrontForm > form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
}
#ctnForumFrontForm > form textarea {
  border: solid 1px #000;
}

#ctnForumFormFront {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: rgba(0, 0, 0, 0.6);
}

#ctnForumFormFront > form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
}

#ctnMessageForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: rgba(0, 0, 0, 0.6);
}

#ctnMessageForm > form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ctnWarningForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: rgba(0, 0, 0, 0.6);
}

#ctnWarningForm > form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
}

#ctnUserForm > form {
  width: 750px;
}
#ctnUserForm > form > .field-row > .field > #select-avatar-ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#ctnUserForm > form > .field-row > .field > #select-avatar-ctn > #avatar-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #EDF0F2;
  border-radius: 50%;
  overflow: hidden;
}
#ctnUserForm > form > .field-row > .field > #select-avatar-ctn > #avatar-preview > .icon {
  max-width: 40px;
  max-height: 40px;
  color: #3F445F;
  font-size: 1.5rem;
}
#ctnUserForm > form > .field-row > .field > #select-avatar-ctn > label:nth-child(2) {
  margin: 0 10px;
  color: #3F445F;
  transition: 0.3s;
  cursor: pointer;
}
#ctnUserForm > form > .field-row > .field > #select-avatar-ctn > label:nth-child(2):hover {
  text-decoration: underline;
  transition: 0.3s;
}
#ctnUserForm > form > .field-row > .field > #select-ctn > .questionMark {
  margin: 0 10px;
  color: #ff3838;
}
#ctnUserForm > form > .field-row > #role-ctn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 2px 7px;
  background: #22a6b3;
  border-radius: 7px;
}
#ctnUserForm > form > .field-row > #role-ctn > span {
  width: max-content;
  color: #fff;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
}

#ctnRoleForm > form {
  width: 700px;
}
#ctnRoleForm > form > .permissions > .field {
  flex-direction: row;
  justify-content: space-between;
}

#ctnDonationTierForm > form {
  width: 350px;
}

#ctnTagForm > form {
  width: 450px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #3F445F;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d769e;
}

body {
  scrollbar-color: #3F445F #f1f1f1;
  /* ascensseur bleu sur fond blanc */
  scrollbar-size: 10px;
  /* taille de l'ascenseur */
}

.banner {
  display: block;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.banner > img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imgBannerForum[type=Correction] {
  color: #fff;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  position: relative;
  z-index: 1;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.imgBannerForum[type=Version] {
  color: #fff;
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  position: relative;
  z-index: 1;
  border-radius: 10px 10px 0 0;
}

.imgBannerForum[type="Notre jeu"] {
  color: #fff;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  position: relative;
  z-index: 1;
  border-radius: 10px 10px 0 0;
}

.imgBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-image: url("/SASS/asset/img/imgBanner.png");
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.imgBanner > h1 {
  color: #fff;
  font-size: 4em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  background: #272B40;
  border-radius: 7px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background: #fff;
  color: #272B40;
}
.btn-add, .btn-edit {
  padding: 10px;
  background: #3F445F;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}
.btn-add:hover, .btn-edit:hover {
  background: #6d769e;
  color: #fff;
}
.btn-validate {
  padding: 10px;
  background: #259736;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s;
  cursor: pointer;
}
.btn-validate:hover {
  background: #35be49;
  color: #fff;
  transition: 0.3s;
}
.btn-delete {
  padding: 10px;
  background: #AD4E47;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}
.btn-delete:hover {
  background: #d4716a;
  color: #fff;
}
.btn-form {
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.btn-form:hover {
  transition: 0.3s;
}
.btn-form-validate {
  margin: 0 30px 0 10px;
  background: #35be49;
  color: #fff;
  transition: 0.3s;
}
.btn-form-validate:hover {
  background: #259736;
  transition: 0.3s;
}
.btn-form-cancel {
  background: none;
  color: #988F8F;
  transition: 0.3s;
}
.btn-form-cancel:hover {
  color: #716767;
  transition: 0.3s;
}
.btn-switch {
  position: relative;
  display: block;
  overflow: hidden;
  width: 55px;
  height: 30px;
  background: #ccc;
  border-radius: 15px;
  cursor: pointer;
}
.btn-switch > input {
  display: none;
}
.btn-switch > .slider {
  position: absolute;
  width: 45px;
  height: 20px;
  padding: 5px;
  background-color: #ccc;
  transition: 0.3s;
}
.btn-switch > .slider:before {
  content: "";
  position: absolute;
  top: 5;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 100%;
  transition: 0.3s;
}
.btn-switch > input:checked ~ .slider {
  background: #22a6b3 !important;
}
.btn-switch > input:checked ~ .slider:before {
  margin-left: 25px;
}

.opened {
  text-decoration: underline !important;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: auto;
  min-height: 40vh;
}
.cards > div.checked {
  background-color: #6d769e !important;
}
.cards > div[type=donation] {
  width: 100%;
  max-width: 25%;
  margin: 20px;
  padding: 1rem;
  border-radius: 5px;
  background-color: #EDF0F2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.3s ease-in-out;
  color: #000;
  font-family: "Jaldi", sans-serif;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.cards > div[type=donation]:hover {
  transform: scale(1.05);
}
.cards > div[type=donation] h2 {
  margin: 0 1em 0 0;
}
.cards > div[type=donation] > div > h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #000;
  font-family: "Jaldi", sans-serif;
}
.cards > div[type=donation] > h1 {
  color: #000;
  font-family: "Jaldi", sans-serif;
}
.cards > div[type=forum] {
  width: 100%;
  max-width: 25%;
  margin: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.3s ease-in-out;
  color: #000;
  font-family: "Jaldi", sans-serif;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.cards > div[type=forum]:hover {
  transform: scale(1.05);
}
.cards > div[type=forum] h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cards > div[type=forum] .forumHeader {
  display: flex;
  align-items: center;
  height: 6vw;
}
.cards > div[type=forum] .forumHeader > h1 {
  padding: 0 0.5em;
  color: #fff;
}
.cards > div[type=forum] hr {
  border: 0;
  margin: 0 5%;
  border-top: 2px solid #3F445F;
}
.cards > div[type=forum] .informationContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4%;
}
.cards > div[type=forum] .informationContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 1em 0 0;
}
.cards > div[type=forum] .informationContainer > div > label {
  display: flex;
  color: #272B40;
  font-weight: bold;
}
.cards > div[type=forum] .informationContainer > div > p {
  display: flex;
  margin: 0;
  padding: 0;
}
.cards > div[type=forum] .descriptionContainer {
  padding: 4%;
}
.cards > div[type=forum] .descriptionContainer > label {
  display: flex;
  color: #272B40;
  font-weight: bold;
}
.cards > div[type=forum] .descriptionContainer > p {
  display: flex;
  margin: 0;
  padding: 0;
}
.cards > div[type=forum] > div > h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #000;
  font-family: "Jaldi", sans-serif;
}
.cards > div[type=forum] > h1 {
  color: #000;
  font-family: "Jaldi", sans-serif;
}
.cards p {
  padding: 5%;
  font-size: 1.1rem;
  text-align: justify;
}

#paypal-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  height: 20vh;
}

.ctn {
  min-width: 800px;
  margin: 0 20px 20px 20px;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-family: "Jaldi", sans-serif;
}
.ctn > h1 {
  font-family: "Jaldi", sans-serif;
  color: #000;
  font-weight: bold;
}
.ctn > th {
  text-align: left;
  padding: 8px 10px !important;
}
.ctn-delete {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 100%;
  margin: 0.5% 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
}
.ctn-delete:focus {
  outline: none;
}
.ctn-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.5% 0;
  padding: 0;
  box-shadow: none;
}
.ctn-add > .searchBar {
  width: 30%;
  height: 20px;
  border: solid 1px #000;
  border-radius: 5px;
  font-size: rem(12);
  color: #988F8F;
  font-weight: bold;
}
.ctn-add > .searchBar:focus {
  outline: none;
}
.ctn-hover {
  position: absolute;
  top: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ctn-hover ~ section:nth-child(4) {
  margin-top: 300px;
}
.ctn-article {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  margin-bottom: 50px;
  color: #fff;
}
.ctn-article > img {
  padding: 0 10px;
  max-width: 400px;
  height: auto;
}
.ctn-article > p {
  font-family: "Jaldi", sans-serif;
  padding: 0 10px;
}
.ctn-article-hover {
  width: 30%;
  max-height: 250px;
  overflow: hidden;
  padding: 15px;
  border-radius: 0 70px 0 0;
  background: #404661;
}
.ctn-article-hover > h1 {
  text-align: center;
}
.ctn-article-hover > .content {
  color: #fff;
  font-family: "Jaldi", sans-serif;
}
.ctn-article-hover > .content > img {
  float: left;
  margin-right: 10px;
  width: 100px;
  height: auto;
}

#ctnUserForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: rgba(0, 0, 0, 0.6);
}

#ctnUserForm > form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ctnRoleForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: rgba(0, 0, 0, 0.6);
}

#ctnRoleForm > form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ctnDonationTierForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: rgba(0, 0, 0, 0.6);
}

#ctnDonationTierForm > form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ctnTagForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: rgba(0, 0, 0, 0.6);
}

#ctnTagForm > form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#editorjs h1 {
  color: #000;
}

.dashboard {
  width: 100%;
  box-sizing: border-box;
  background: #EDF0F2;
}
.dashboard > header {
  position: sticky;
  top: 0;
  left: 210px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
  padding: 0 20px;
  background: #3F445F;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
  border-radius: 7px;
  overflow: hidden;
  background: #fff;
  font-family: "Jaldi", sans-serif;
}
.form > .field-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.form > .field-row > hr {
  width: 100%;
  height: 1px;
  margin: 0 30px;
  box-sizing: border-box;
  background: #3F445F;
  border: none;
}
.form > .field-row > .field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 30px;
}
.form > .field-row > .field > h1 {
  margin: 10px 0;
  color: #3F445F;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.form > .field-row > .field > label {
  color: #988F8F;
  text-transform: uppercase;
  font-weight: bold;
}
.form > .field-row > .field > .input {
  padding: 8px;
  background: #EDF0F2;
  color: #3F445F;
  border: none;
}
.form > .field-row > .field > .input:focus {
  outline: none;
}
.form > .field-row > .field > #select-ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form > .field-row > .field > #select-ctn > select {
  width: fit-content;
  padding: 5px 10px;
  cursor: pointer;
  background: #EDF0F2;
  border: none;
  color: #272B40;
  font-family: "Jaldi", sans-serif;
  text-transform: uppercase;
}
.form > .field-row .disabled {
  background: #988F8F !important;
  color: #fff !important;
}
.form > .field-cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
  margin-top: 10px;
  box-sizing: border-box;
  background: #EDF0F2;
}
.form .formSetting {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin-left: 50px;
  margin-top: 50px;
}
.form .formSetting .field {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form .formSetting .field input {
  width: 50%;
  padding: 10px;
}
.form .formSetting label {
  font-family: "Jaldi", sans-serif;
  font-size: 1.1rem;
}
.form .formSetting .btn {
  margin-top: 30px;
  width: 240px;
}

@media screen and (min-width: 540px) {
  .grid {
    width: 540px;
  }
}
@media screen and (min-width: 720px) {
  .grid {
    width: 720px;
  }
}
@media screen and (min-width: 960px) {
  .grid {
    width: 960px;
  }
}
.grid {
  margin: 0 auto;
}

.box {
  height: 20px;
  border: solid 1px #666;
  background: #aaa;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 0.75rem;
}

.col {
  max-width: 100%;
}
.col-sm, .col-md, .col-lg {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
.col-1, .col-sm-1, .col-md-1, .col-lg-1 {
  flex-basis: 8.33333333%;
  width: 8.33333333%;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
.col-2, .col-sm-2, .col-md-2, .col-lg-2 {
  flex-basis: 16.66666667%;
  width: 16.66666667%;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
.col-3, .col-sm-3, .col-md-3, .col-lg-3 {
  flex-basis: 25%;
  width: 25%;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
.col-4, .col-sm-4, .col-md-4, .col-lg-4 {
  flex-basis: 33.33333333%;
  width: 33.33333333%;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
.col-5, .col-sm-5, .col-md-5, .col-lg-5 {
  flex-basis: 41.66666667%;
  width: 41.66666667%;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
.col-6, .col-sm-6, .col-md-6, .col-lg-6 {
  flex-basis: 50%;
  width: 50%;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
.col-7, .col-sm-7, .col-md-7, .col-lg-7 {
  flex-basis: 58.33333333%;
  width: 58.33333333%;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
.col-8, .col-sm-8, .col-md-8, .col-lg-8 {
  flex-basis: 66.66666667%;
  width: 66.66666667%;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
.col-9, .col-sm-9, .col-md-9, .col-lg-9 {
  flex-basis: 75%;
  width: 75%;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
.col-10, .col-sm-10, .col-md-10, .col-lg-10 {
  flex-basis: 83.33333333%;
  width: 83.33333333%;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
.col-11, .col-sm-11, .col-md-11, .col-lg-11 {
  flex-basis: 91.66666667%;
  width: 91.66666667%;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
.col-12, .col-sm-12, .col-md-12, .col-lg-12 {
  flex-basis: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.75rem;
}

nav,
.nav-ctn {
  position: sticky;
  z-index: 1000;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 250px;
  height: 100vh;
  background: #272B40;
  font-family: "Jockey One", sans-serif;
}
nav-row,
.nav-ctn-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  height: 60px;
  padding: 0 10px;
  box-sizing: border-box;
}
nav-row > header,
.nav-ctn-row > header {
  margin: 0;
}
nav-row > header > a > img,
.nav-ctn-row > header > a > img {
  max-height: 50px;
  width: auto;
}
nav-row > .nav > ul,
.nav-ctn-row > .nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 50vw;
  font-size: 1.3em;
}
nav-row > .nav > ul > a,
.nav-ctn-row > .nav > ul > a {
  margin: 0 5px;
  text-transform: uppercase;
}
nav > header,
.nav-ctn > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 20px;
}
nav > header > a,
.nav-ctn > header > a {
  text-decoration: none;
}
nav > header > a > h1,
.nav-ctn > header > a > h1 {
  color: #fff;
}
nav > header > i,
.nav-ctn > header > i {
  font-size: rem(24);
  color: #fff;
  cursor: pointer;
}
nav > .nav,
.nav-ctn > .nav {
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
}
nav > .nav--column,
.nav-ctn > .nav--column {
  flex-direction: column;
  width: 210px;
}
nav > ul,
.nav-ctn > ul {
  margin: 0;
  padding: 0 20px;
  list-style: none;
}
nav > ul > li,
.nav-ctn > ul > li {
  list-style: none;
  color: #fff;
  cursor: pointer;
}
nav > ul > li > .nav-section-link,
.nav-ctn > ul > li > .nav-section-link {
  width: fit-content;
  border-bottom: solid 2px #272B40;
  transition: 0.2s;
}
nav > ul > li > .nav-section-link:hover,
.nav-ctn > ul > li > .nav-section-link:hover {
  border-bottom: solid 2px #fff;
  transition: 0.2s;
}
nav > ul > li > .nav-section-link > i,
.nav-ctn > ul > li > .nav-section-link > i {
  margin: 0 8px;
}
nav > ul > li > ul,
.nav-ctn > ul > li > ul {
  overflow: hidden;
  max-height: 15rem;
  margin: 10px 0 10px 16px;
  padding-left: 20px;
  border-left: solid 2px #fff;
  transition: max-height 0.5s;
}
nav > ul > li > ul > a,
.nav-ctn > ul > li > ul > a {
  text-decoration: none !important;
  color: #fff;
}
nav > ul > .close > i:nth-child(2),
.nav-ctn > ul > .close > i:nth-child(2) {
  transform: rotate(-90deg);
}
nav > ul > .close > ul,
.nav-ctn > ul > .close > ul {
  overflow: hidden;
  max-height: 0;
}
nav > ul > .bottom,
.nav-ctn > ul > .bottom {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 210px;
}

.nav-close > header > h1, .nav-close > ul, .nav-close > ul > .bottom {
  position: absolute;
  overflow: hidden;
  max-width: 0;
  padding: 0;
}

.alert {
  padding: 10px 80px;
  border-radius: 5px;
  color: white;
  margin-top: 8%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  font-family: "Jaldi", sans-serif;
}
.alert-success {
  background-color: #46A150;
}
.alert-error {
  background-color: #AD4E47;
}
.alert-warning {
  background-color: #e0c335;
}

#searchBarContainer > .searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 10px;
  background: #fff;
  border-radius: 7px;
}
#searchBarContainer > .searchBar > input {
  width: 200px;
  height: 18px;
  padding: 0;
  background: none;
  border: none;
  font-family: "Jaldi", sans-serif;
  font-size: rem(12);
  font-weight: bold;
  letter-spacing: 0.8px;
}
#searchBarContainer > .searchBar > input:focus {
  outline: none;
}
#searchBarContainer > .searchBar > i {
  font-size: rem(14);
}
#searchBarContainer > #searchResultContainer {
  display: none;
  position: absolute;
  transform: translateY(5px);
  background: #272B40;
  border-radius: 7px;
  overflow: hidden;
}
#searchBarContainer > #searchResultContainer > #searchResult {
  display: flex;
  flex-direction: column;
}
#searchBarContainer > #searchResultContainer > #searchResult > .field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;
  padding: 8px 20px;
  background: #6d769e;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
#searchBarContainer > #searchResultContainer > #searchResult > .field:hover {
  background: #272B40;
}
#searchBarContainer > #searchResultContainer > #searchResult > .field > .label-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 150px;
}
#searchBarContainer > #searchResultContainer > #searchResult > .field > .label-container > .label {
  padding: 0 15px;
  border-radius: 10px;
  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;
}
#searchBarContainer > #searchResultContainer > #searchResult > .field > .label-container > .label-user {
  background: #35be49;
}
#searchBarContainer > #searchResultContainer > #searchResult > .field > .label-container > .label-role {
  background: #d4716a;
}
#searchBarContainer > #searchResultContainer > #searchResult > .field > .label-container > .label-page {
  background: #22a6b3;
}
#searchBarContainer > #searchResultContainer > #searchResult > .field > .label-container > .label-configurationPage {
  background: #f0932b;
}
#searchBarContainer > #searchResultContainer > #searchResult > .field > * {
  font-family: "Jaldi", sans-serif;
}
#searchBarContainer:focus-within > #searchResultContainer {
  display: block;
}

.table {
  width: 100%;
  background: white;
}
.table > .thead {
  width: 100%;
}
.table > .thead > .tr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-bottom: solid 1px #000;
}
.table > .thead > .tr > .th {
  text-align: left;
  font-family: "Jaldi", sans-serif;
  font-weight: bold;
}
.table > .thead > .tr > .th:nth-child(1) {
  width: 5%;
}
.table > .thead > .tr > .th:nth-child(2) {
  width: 10%;
}
.table > .thead > .tr > .th:nth-child(3) {
  width: 30%;
}
.table > .thead > .tr > .th:nth-child(4) {
  width: 30%;
}
.table > .thead > .tr > .th:nth-child(5) {
  width: 25%;
}
.table > .tbody {
  width: 100%;
}
.table > .tbody > .even {
  background: #fff;
}
.table > .tbody > .uneven {
  background: #EDF0F2;
}
.table > .tbody > .tr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
.table > .tbody > .tr > .td {
  text-align: left;
  font-family: "Jaldi", sans-serif;
  font-weight: bold;
}
.table > .tbody > .tr > .td:nth-child(1) {
  width: 5%;
}
.table > .tbody > .tr > .td:nth-child(2) {
  width: 10%;
}
.table > .tbody > .tr > .td:nth-child(3) {
  width: 30%;
}
.table > .tbody > .tr > .td:nth-child(4) {
  width: 30%;
}
.table > .tbody > .tr > .td:nth-child(5) {
  width: 25%;
}

.paginate_button.current {
  border-radius: 10px !important;
}

.border {
  border-radius: 10px;
  padding: 0 2% !important;
}

.boxShadow {
  box-shadow: rgba(33, 35, 38, 0.25) 10px 0px 10px -10px;
}

.forum {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: "Jaldi", sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 2% 4%;
}
.forum .forumHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.forum .forumHeader > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.forum .forumHeader > div > h1 {
  color: #fff;
  width: 65vw;
}
.forum .forumHeader > div > h2 {
  margin: 0 1em 0 0;
}
.forum .forumHeader > h2 {
  margin: 0 1em 0 1em;
}
.forum .forumDescription {
  width: 100%;
  box-sizing: border-box;
  border: solid #3F445F;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 15px 15px;
  padding: 1em;
}

.allMessage {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  padding: 1% 4%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Jaldi", sans-serif;
}
.allMessage p {
  margin: 0;
}
.allMessage .containerMessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.allMessage .containerMessage > svg {
  margin: 0 0 0 2vw;
}
.allMessage svg {
  display: flex;
  width: 40px;
  height: 40px;
}
.allMessage .message {
  position: relative;
  margin: 1em 0;
  padding: 1em;
  border-radius: 15px;
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.allMessage .message .messageParent {
  display: flex;
  width: 100%;
}
.allMessage .message .messageParent svg {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
}
.allMessage .message .messageParent .warning {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 28px;
  height: 28px;
}
.allMessage .message .messageParent > .headerMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 2vw;
  border-right: 1px solid #3F445F;
}
.allMessage .message .messageParent > .headerMessage > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.allMessage .message .messageParent > .headerMessage > .userMessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 12em;
}
.allMessage .message .messageParent > .messageContent {
  margin-left: 2vw;
}
.allMessage .answerMessage {
  margin: 0.5em 0 0.5em 3em;
  width: 100%;
}
.allMessage .divInsertAnswer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.allMessage .divInsertAnswer > hr {
  width: 90%;
  margin: 1em 0;
}
.allMessage .divInsertAnswer form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.allMessage .divInsertAnswer form > input[type=text] {
  width: 79%;
  height: 3em;
}
.allMessage .divInsertAnswer form > button {
  width: 20%;
  height: 3em;
}

.hidden {
  display: none !important;
}

.centerElement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.centerElement > button {
  margin: 2em 0;
}

#containerForumFront > .button {
  font-family: "Jaldi", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.underlineHover:hover {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.avatar > span {
  padding: 0 10px;
  font-size: 1.2rem;
  font-family: "Jaldi", sans-serif;
}
.avatar > #avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #EDF0F2;
  border-radius: 50%;
  overflow: hidden;
}
.avatar > #avatar-container > .icon {
  max-width: 40px;
  max-height: 40px;
  color: #3F445F;
  font-size: 1.5rem;
}

#user-menu {
  position: absolute;
  top: 100%;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 0;
  background: #272B40;
  border-radius: 0 0 0 7px;
  transition: 0.4s;
}
#user-menu > a {
  width: 100%;
  height: 50px;
  padding: 10px 30px;
  box-sizing: border-box;
  background: #272B40;
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}
#user-menu > a:hover {
  background: #927bdf;
  transition: 0.3s;
}
#user-menu > .red:hover {
  background: #ff4757;
}

#trigger-user-menu {
  display: none;
}
#trigger-user-menu:checked ~ #user-menu {
  height: 150px;
  transition: 0.4s;
}

#editorjs .image-tool__caption {
  display: none !important;
}
#editorjs .ce-header {
  text-align: center;
}
.userAvatar > img {
  width: 2vw;
  height: 2vw;
  object-fit: cover;
  border-radius: 100%;
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 2em;
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
}
.statistics > .odd {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
}
.statistics > .even {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2em;
  width: 100%;
}
.statistics > .even > .medium {
  height: 100%;
  flex-grow: 2;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.statistics > .even > .small {
  height: 100%;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#userCreationChartDiv {
  width: 100%;
  height: 500px;
}

/*# sourceMappingURL=style.css.map */
