$gutter-width: 1.5rem;
$col-nb: 12;
$sm-breakpoint: 540px;
$md-breakpoint: 720px;
$lg-breakpoint: 960px;

$white: #fff;
$black: #000;
$grey: #988F8F;
$light-grey: #EDF0F2;
$blue-grey: rgba(142, 153, 163, 0.19);
$light-blue: #6d769e;
$dark-blue: #3F445F;
$hard-blue: #272B40;
$deep-ocean: #404661;
$dark-orange: #AD4E47;
$light-orange: #d4716a;

$conterner-width: 1280px;

$dashboard-header-height: 50px;
$dashboard-nav-width-column: 210px;
