$gutter-width: 1.5rem;
$col-nb: 12;
$sm-breakpoint: 540px;
$md-breakpoint: 720px;
$lg-breakpoint: 960px;

$white: #fff;
$black: #000;
$light-grey: #EDF0F2;
$dark-blue: #3F445F;
$hard-blue: #272B40;

$conterner-width: 1280px;

$dashboard-header-height: 50px;
$dashboard-nav-width-column: 210px;
