@use "../Abstracts" as *;

.form {
  display: flex;
  flex-direction: column;

  padding: 10px 0 0 0;

  border-radius: 7px;
  overflow: hidden;

  background: $white;
  font-family: $mainFont;

  & > .field-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;

	& > hr {
	  width: 100%;
	  height: 1px;
	  margin: 0 30px;
	  box-sizing: border-box;

	  background: $dark-blue;
	  border: none;
	}

	& > .field {
	  display: flex;
	  flex-direction: column;

	  width: 100%;
	  margin: 10px 30px;

		& > .row
		{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			margin: 0;
		}

		& > h1
		{
			margin: 10px 0;
		   color: $dark-blue;

		   font-size: 1.2rem;
		   text-transform: uppercase;
	   }

			& > label
			{
				color: $grey;
				text-transform: uppercase;
				font-weight: bold;

				& > .required
				{
					color: $red;
				}
			}

			& .input
			{
				padding: 8px;

		    background: $light-grey;
		    color: $dark-blue;
		    border: none;

				&:focus
				{
					outline: none;
				}
			}

			& > #select-ctn
			{
				display: flex;
				flex-direction: row;
				align-items: center;

				& > select {
					width: fit-content;
					padding: 5px 10px;

					background: $light-grey;
					border: none;

					color: $mainColor;
					font-family: $mainFont;
					text-transform: uppercase;
				}
			}
		}

	  & > #select-ctn {
		  display: flex;
		  flex-direction: row;
		  align-items: center;

		  & > select {
		    width: fit-content;
		    padding: 5px 10px;
		    cursor: pointer;

		    background: $light-grey;
		    border: none;

		    color: $mainColor;
		    font-family: $mainFont;
		    text-transform: uppercase;
		  }
	  }
	}

	& .disabled {
	  background: $grey !important;
	  color: $white !important;
	}

  & > .field-cta {
	  display: flex;
	  flex-direction: row;
	  justify-content: flex-end;
	  align-items: center;

	  padding: 20px 0;
	  margin-top: 10px;
	  box-sizing: border-box;

	  background: $light-grey;
  }
}

.formPwdForget {
	height: 60vh;
	margin: 50vh auto 0;
	transform: translateY(-50%);
}