@use "../Abstracts" as *;

#api-configuration
{
    & > .ctn
    {
        & > form
        {
            & > h1
            {
                color: $dark-blue;
            }

            & > hr
            {
                margin-bottom: 20px;
                color: $dark-blue;
            }

            & > .field
            {
                display: flex;
                flex-direction: column;
                margin: 20px 0;

                & > label
                {
                    color: $hard-blue;
                    font-weight: bold;
                }

                & > input
                {
                    width: 100%;
                    padding-bottom: 2px;
                    box-sizing: border-box;
                    border: none;
                    border-bottom: solid 1px;
                    color: $dark-blue;

                    &:focus
                    {
                        outline: none;
                    }
                }

                & > .row
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0;

                    & > input
                    {
                        width: calc(100% - 40px);
                        padding-bottom: 2px;
                        box-sizing: border-box;
                        border: none;
                        border-bottom: solid 1px;
                        color: $dark-blue;

                        &:focus
                        {
                            outline: none;
                        }
                    }
                }

                & > i
                {
                    width: min-content;
                }

                & > select
                {
                    width: min-content;
                }

                &-submit
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;

                    & > button
                    {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}