@use "../Abstracts" as *;

#ctnRoleForm > form
{
    width: 700px;

    & > .permissions
    {
        & > .field
        {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}