@use "../Abstracts" as *;

#templateEdition {

  h1, h3 {
    margin: 0 20px;
  }

  #StyleForm {
    display: flex;
    margin: 25px 0;
  }

  fieldset {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px;
  }

  .fontPicker {
    padding: 8px;
    background: #EDF0F2;
    color: #3F445F;
    border: none;
  }

  .advise {
    font-size: 0.8rem;
    font-style: italic;
  }
}