@use "../Abstracts" as *;

#ctnUserForm > form
{
    display: flex;
    flex-direction: column;

    width: 750px;
    padding: 30px 0 0 0 !important;

    background: $white;
    border-radius: 7px;
    overflow: hidden;

    & > .field-row
    {

        & > hr
        {
            width: 100%;
            height: 1px;
            margin: 0 30px;
            box-sizing: border-box;

            background: $dark-blue;
            border: none;
        }

        & > .field
        {
            & > h1
            {
                margin: 10px 0;

                color: $hard-blue;

                font-size: 1.2rem;
                text-transform: uppercase;
            }

            & > label
            {
                color: $grey;
                text-transform: uppercase;
                font-weight: bold;
            }

            & > .input
            {
                padding: 8px;

                background: $light-grey;
                color: $hard-blue;
                border: none;

                &:focus
                {
                    outline: none;
                }
            }

            & > select
            {
                width: fit-content;
                padding: 5px 10px;

                background: $grey;
                border: none;

                color: $white;
                font-family: $jaldi;
                text-transform: uppercase;
            }

            & > .disabled
            {
                background: $grey;
                color: $white;
            }
        }

        & > #id-ctn
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: fit-content;
            padding: 2px 7px;

            background: $sky;
            border-radius: 7px;

            & > span
            {
                color: $white;
                font-size: .7rem;
                font-weight: bold;
                text-transform: capitalize;
                letter-spacing: 1px;
            }
        }
    }

    & > .field-cta
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        padding: 20px 0;
        box-sizing: border-box;

        background: $light-grey;

        & > input
        {
            padding: 10px 25px;

            border: none;
            border-radius: 25px;

            text-transform: uppercase;
            font-weight: bold;
            transition: .3s;
            cursor: pointer;

            &:hover
            {
                transition: .3s;
            }
        }

        & > .cancel
        {
            background: none;
            color: $grey;
            transition: .3s;

            &:hover
            {
                color: $dark-grey;
                transition: .3s;
            }
        }

        & > .validate
        {
            margin: 0 30px 0 10px;

            background: $light-green;
            color: $white;
            transition: .3s;

            &:hover
            {
                color: $dark-green;
                transition: .3s;
            }
        }
    }
}