@use "../Abstracts" as *;

#ctnUserForm > form
{
    width: 750px;

    & > .field-row
    {
        & > .field
        {
            & > #select-avatar-ctn
            {
                display: flex;
                flex-direction: row;
                align-items: center;

                & >  #avatar-preview
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    background: $light-grey;
                    border-radius: 50%;
                    overflow: hidden;

                    & > .icon
                    {
                        max-width: 40px;
                        max-height: 40px;
                        color: $dark-blue;
                        font-size: 1.5rem;
                    }
                }

                & > label:nth-child(2)
                {
                    margin: 0 10px;
                    color: $dark-blue;
                    transition: .3s;
                    cursor: pointer;

                    &:hover
                    {
                        text-decoration: underline;
                        transition: .3s;
                    }
                }
            }

            & > #select-ctn
            {
                display: flex;
                flex-direction: row;
                align-items: center;

                & > select
                {
                    width: fit-content;
                    padding: 5px 10px;

                    background: $light-grey;
                    border: none;

                    color: $hard-blue;
                    font-family: $jaldi;
                    text-transform: uppercase;
                }

                & > .questionMark
                {
                    margin: 0 10px;
                    color: $red;
                }
            }
        }

        & > #role-ctn
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: fit-content;
            padding: 2px 7px;

            background: $sky;
            border-radius: 7px;

            & > span
            {
                width: max-content;

                color: $white;
                font-size: .7rem;
                font-weight: bold;
                text-transform: capitalize;
                letter-spacing: 1px;
            }
        }
    }
}